:root{
    /* main color  */
    --main-blue-color:#0594d1;
    --gray-color:#333;
    /* scrollbar  */
    --scrollbar-thumb-color:#717171;
    --scrollbar-color:#dadada;
    /* header */
    --header-bg-color: #fff;
    --header-btn-second-text: none;
    --header-btn-first-text: inline-block;
    --header-box-shadow: 0 0 3px 0 #b7b7b7;
    --header-btn-border:3px solid #020035;

}
html{
    cursor:url(../images/pointer-cursor.svg),default ;
    scroll-behavior: smooth;
}
a,.header-btn{
    cursor:url(../images/hand-cursor.svg),default ;
}
.night-mode{
    /* main color  */
    --main-blue-color:#fff;
    --gray-color:#fff;
    /* scrollbar  */
    --scrollbar-thumb-color:#00a1e6;
    --scrollbar-color:#072e4e;
    /* header */
    --header-bg-color:linear-gradient(90deg, #123140 , #00182e);;
    --header-btn-second-text:inline-block ;
    --header-btn-first-text: none;
    --header-box-shadow: 0 0 0 2px #959595;
    --header-btn-border:3px solid #004866;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,::after{
    box-sizing: inherit;
}

::-webkit-scrollbar{
    width: 10px;
    background: var(--scrollbar-color);
    margin-block: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,var(--scrollbar-thumb-color));
    border-radius: 50px;
    border: 2.5px solid var(--scrollbar-color);
}
.container{
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.body{
    background: var(--header-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 92px;
    font-family: 'Comfortaa', cursive;
    color: var(--gray-color);
    font-size: 18px;
}
section,footer{
    padding: 100px 0;
}
h2{
    font-size: 36px;
}
a{
    text-decoration: none;
    color: var(--gray-color);
}
p{
    font-weight: 500;
    line-height: 23px;
}
li{
    list-style: none;
}
span{
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: 400;
}

/* header  */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px 0;
    background: var(--header-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--header-box-shadow);
}
.header-first-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    display: flex;
    align-items: center;
    transition:opacity 0.3s ease
}
.profile:active{
    opacity: 0.7;
}
.profile-logo {
    width: 62px;
    height: 62px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: #0594d1;
    margin-right: 8px;
}   
.header-title {
    font-size: 20px;
    font-family: 'Contrail One', cursive;
    color: #0594d1;
    line-height: 22px;
}
.header-title-wrapper-item {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-color);
    opacity: 0.5;
}
.header-second-item ,.header-list{
    display: flex;
    align-items: center;
}
.header-list-item:not(:last-child){
    margin-right: 14px;
}
.header-list-item .header-list-link {   
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition:all 0.3s ease;
}
.header-list-link:hover{
    color: #0594d1;
    opacity: 0.7;
    transform: scale(1.1);
}
.header-list-link:active{
    transform: scale(1);
}
.main-link-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    background: #0594d1;
    color: #fff;
    border: none;
    border-bottom: var(--header-btn-border);
    border-radius: 50px;
    transition: all 0.1s ease;
}
.header-btn {
    padding: 10px 16px;
    margin-left: 20px;
    width: 142px;
}
.main-link-style:active{
    border-bottom: 0;
    box-shadow: inset 0 1px 2px 0 #000;
}
.header-btn-first-text,.header-moon-img{
    display: var(--header-btn-first-text);
}
.header-btn-second-text,.header-light-img{
    display: var(--header-btn-second-text);
}
.header-btn-first-text,.header-btn-second-text{
    font-weight: 500;
    margin-right: 4px;
}
@keyframes moon-rotate {
    100%{
        transform: rotate(360deg);
    }
}
.header-moon-img,.header-light-img {
    width: 20px;
    height: 20px;
    animation:moon-rotate 0.5s ease ;
}
@keyframes light-rotate {
    100%{
        transform: rotate(180deg);
    }
}
.header-light-img{
    animation:light-rotate 0.5s ease ;
}

/* hero  */

.hero-section{
    background-image: url(../images/hero-bg-img.jpg );
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;  
}
.hero-parent{
    max-width: 660px;
    width: 100%;
    padding: 30px 40px;
    background: #dfe5ec;
    border-radius: 20px;
    margin-left: auto;
}
.hero-title {
    font-family: 'Rubik', sans-serif;
    color: var(--main-blue-color);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 50px;
}
.hero-text {
    margin-bottom: 30px;
    line-height: 30px;
}
.contact-link{
    display: inline-block;
    height: 56.48px;
    font-size: 16px;
}